.boxes {
	width:250px; /*312px;*/
	height:140px;
	float:left;
	
	margin:7px;
    border: solid 3px #64A5D7;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.boxes img {
width:16%
}

.boxes .header {
float:right;
width:80%;
}

.boxes .header h2 {
border-bottom: 2px dotted #64A5D7;
padding:2px;
width:90%px;
margin-top:0px;
text-transform: uppercase;
padding-bottom:2px;
}

.boxes .content {
float:right;
width:80%;
margin-top: -10px;
}

.boxes .content .example {
border-top: 0px dotted #64A5D7;
padding-bottom: 10px;
padding-right: 6px;
}

.boxes .content .example a {
color:#000;
text-decoration:none;
font-size:14px;
}